.header {
    font-family: "Storm-Gust";
    height: 150px;
    background-color: var(--deep-space-sparkle);
    text-shadow: 2px 2px 5px var(--yankees-blue);
    border-bottom: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-one {
    font-size: 68px;
}

.title-two {
    font-size: 28px;
}

.lower-nav-bar {
    background-color: var(--yankees-blue);
    justify-content: center;
    align-items: center;
}

.outer-container {
    font-family: "King-Medium";
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.book-search-bar, .book-category-dropdown {
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
}

.book-count {
    font-family: "King-Medium";
    color: var(light-gray);
}

.book-list {
    margin: auto;
    width: 90%;
    display: flex;
}

.book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 10px;
}

.book-title {
    margin-left: 30px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    height: fit-content;
    margin-top: 0;
    font-family: "King-Bold";
}

.book-checkboxes {
    display: flex;
    flex-direction: row;
    margin: 0, 20px;
    width: 300px;
    align-items: start;
    justify-content: space-between;
}

.checkbox-row {
    width: 100%;
    display: flex;
    justify-content: start;
}

.checkbox-label {
    margin-left: 5px;
}

.book-details {
    display: flex;
    flex-direction: row;
}

.book-description {
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}

.is-hidden {
    display: none;
}

.show-details-button {
    margin: 0;
    background-color: var(--alizarin-crimson);
    color: var(--light-gray);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: var(--deep-space-sparkle);
    border-radius: 6px;
}

.show-details-button:active {
    transform: translateY(2px);
}