<div class="header">
    <div class="title-container">
        <div class="title-one">Fright Club</div>
        <div class="title-two">A Stephen King Reading List</div>
    </div>
</div>
<div class="lower-nav-bar">
    <div *ngFor="let user of all_users">
        <div class="book-count" *ngIf="selected_user_id == user.user_id">{{user.user_name}} has read {{user_two_read_count}} of {{user_two_book_count}} books</div>
    </div>
    <div class="book-count" *ngIf="user_name">{{user_name}} has read {{read_count}} of {{book_count}} {{(selected_category == 'All') ? '' : selected_category}} books.
    </div>
    <div class="book-count" *ngIf="!user_name">No user logged in. Sign in to make your list.</div>
    <div *ngFor="let user of all_users">
        <div class="book-count" *ngIf="selected_user_id == user.user_id">
            <div *ngIf="user_id && user_two_read_count > read_count">
                {{user.user_name}} has read {{read_count_difference}} more books than {{user_name}}
            </div>
            <div *ngIf="user_id && user_two_read_count < read_count">
                {{user_name}} has read {{read_count_difference}} more books than {{user.user_name}}
            </div>
        </div>
    </div>
</div>
<div class="book-list-controls">
    <div class="book-filters">
        <div class="user_two_dropdown">
            <label class="book-filter-label">Find and Opponent</label>
            <select class="dropdown" [(ngModel)]="selected_user_id" (ngModelChange)="getUserTwoBooks()" >
                <option *ngFor="let user of all_users" [value]="user.user_id">{{ user.user_name }}</option>
            </select>
            <button class="clear-button" (click)="resetUserDropdown()">Clear</button>
        </div>
        <div class="book-category-dropdown">
            <label class="book-filter-label">Filter by Category</label>
            <select class="dropdown" [(ngModel)]="selected_category" (ngModelChange)="filterBooksByCategory()">
                <option *ngFor="let category of dropdown_categories" [value]="category">
                  {{ category }}
                </option>
            </select>
            <button class="clear-button" (click)="resetDropdown()">Reset</button>
        </div>
        <div class="book-search-bar">
            <label class="book-filter-label">Filter by Name</label>
            <input class="search-bar" type="text" [(ngModel)]="search_string" (input)="filterBooksBySearch()" placeholder="Search">
            <button class="clear-button" (click)="clearSearchBar()">Clear</button>
        </div>
    </div>
    <div class="show-all-details" >
        <button class="show-all-details-button" [ngClass]="{'is-hidden': !show_all_details}" type="button" (click)="hideAllDetails()">Collapse All</button>
        <button class="show-all-details-button" [ngClass]="{'is-hidden': show_all_details}" type="button" (click)="showAllDetails()">Expand All</button>
    </div>
</div>
<div class="outer-container">
    <div class="left-container">
        <div class="user-two-name">
            <div *ngFor="let user of all_users">
                <div *ngIf="selected_user_id == user.user_id">{{user.user_name}}</div>
            </div>
            <div *ngIf="!selected_user_id">No User</div>
        </div>
        <div class="left-book-list" [ngClass]="{'book-completed':book.completed}" *ngFor="let book of user_two_filtered_books">
            <div class="book" id="left-{{book.book_id}}">
                <div class="book-checkbox">
                    <input [matTooltip]="'This is not your list'" class="player-two-checkbox" type="checkbox" id="{{book.book_id}}-completed" [disabled]="true" [(ngModel)]="book.completed">
                </div>    
            </div>
    
        </div>
    </div>
    
    <div class="main-container">    
        <div class="user-one-name">
            <div *ngIf="user_name">{{user_name}}</div>
            <div *ngIf="!user_name">All books</div>
        </div>
        <div class="book-list" [ngClass]="{'book-completed':book.completed}" *ngFor="let book of filtered_books">
            <div class="book" id="main-{{book.book_id}}">
                <div class="book-checkbox">
                    <input [matTooltip]="disable_checkbox ? 'Login to create your list' : ''" type="checkbox" id="{{book.book_id}}-completed" [disabled]="disable_checkbox" [(ngModel)]="book.completed" (change)="updateUserBook(book.book_id)">
                </div>    
                <div class="book-title">{{book.title}}</div>
                <div class="book-details">
                    <div class="book-short-details"><span>Author(s): {{book.authors}}</span>  -  <span>Published: {{book.publish_year}}</span>  -  <span>Page Count: {{book.page_count}}</span></div>
                
                    <div class="book-long-details is-hidden" id="{{book.book_id}}">
                        <div class="book-description">{{book.description}}</div>
                        <img src="../../assets/images/book-covers/{{book.cover_id}}-L.jpg">
                    </div>
                </div>
                <div class="book-list-button-container">
                    <button class="show-details-button" id="{{book.book_id}}-button" (click)="showDetails(book.book_id)">Expand</button>
                </div>
    
            </div>
    
        </div>
    </div>
</div>

