<div class="header">
    Stephen King Books
</div>
<div class="lower-nav-bar">
    <p>{{user_name}}</p>
</div>

<div class="outer-container">
    <p>TODO</p>
    <p>change page color</p>
    <p>search bar - jump to title, jump to collection if short story entered</p>
    <p>check off read/reading - owned?</p>
    <p>compare to other users</p>
    <p>add sorting by category</p>
    <p>open/close all descriptions</p>
    <p>login to play</p>
    <p>redirect to home on logout</p>

    
    <div class="book-list" *ngFor="let book of user_books">
        <label for="{{book.book_id}}-completed">I've read this!</label><br>
        <input type="checkbox" id="{{book.book_id}}-completed"[(ngModel)]="book.completed">
        <label for="{{book.book_id}}-in_progress">I'm reading this!</label><br>
        <input type="checkbox" id="{{book.book_id}}-in_progress"[(ngModel)]="book.in_progress">
        <div class="book">
            <div class="book-title">
                <p>{{book.title}} - {{book.publish_year}}</p>
                <button class="show-details-button" id="{{book.book_id}}-button" (click)="showDetails(book.book_id)">Show Details</button>
            </div>
            
            <div class="book-details is-hidden" id="{{book.book_id}}">
                <ul class="book-description">
                    <li>Author: {{book.authors}}</li>
                    <li>Published: {{book.publish_year}}</li>
                    <li>Page Count: {{book.page_count}}</li>
                    <li>{{book.description}}</li>
                </ul>
                <img src="../../assets/images/book-covers/{{book.cover_id}}-L.jpg">
            </div>
        </div>

    </div>
</div>
