.map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

svg {
    width: 1000px; 
    height: 600px;
}

.lower-nav-bar {
    height: 40px;
    justify-content: center;
    align-items: center;
}

.state-info-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.current-state-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    border: 1px solid var(--teal);
    box-shadow: 0px 1px 1px var(--indigo);
    margin: 20px;
}

.current-state-info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.state-title { 
    width: 100%;
    height: 30px;
    background-color: var(--teal);
    color: var(--seafoam-green);
    padding: 5% 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-name {
   display: flex;
   justify-content: center;
}

.state-info {
    margin-top: 5px;
}

.selected-state {
    margin: 10px;
    padding: 10px;
    fill: var(--indigo);
    width: 100px;
    color: white;
}

.unselected-state {
    margin: 10px;
    padding: 10px;
    fill: var(--teal);
    width: 100px;
    color: white;
}

.current-state-selected {
    fill: var(--indigo);
    filter: brightness(150%) !important;
}

.current-state-unselected {
    fill: var(--teal);
    filter: brightness(150%) !important;
}


.current-state-selected:active, .current-state-unselected:active {
    fill: var(--rose-red) !important;
    transform: translateY(5px);
}

.borders, .separator1 {
    stroke: var(--seafoam-green); stroke-width:2
}

@media (max-width: 1000px) {
    .map-container {
        flex-direction: column;
        overflow: scroll;
    }

    .state-info-container {
        position: sticky;
        left: 0;
        flex-direction: row;
        margin-bottom: 5vh;
        width: fit-content;
        height: fit-content;
    }

    .current-state-info-container {
        font-size: 18px;
        height: 300px;
        margin: 5vw;
        width: 90vw;
    }

    .current-state-info {
        overflow-x: scroll;
    }

    .states-visited-container {
        height: 30vh;
        width: 80vw;
    }
}