.states_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selected_state {
    margin: 10px;
    padding: 10px;
    fill: rgb(38, 112, 8);
    width: 100px;
    color: white;
}

.unselected_state {
    margin: 10px;
    padding: 10px;
    fill: rgb(85, 191, 117);
    width: 100px;
    color: white;
}

.state {
    fill:#D0D0D0
}

.borders {
    stroke:#FFFFFF; stroke-width:1
}

.separator1 {
    stroke:#B0B0B0; stroke-width:2
} 