.lower-nav-bar {
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.redirect {
    height: 100px;
    display: flex;
    margin-bottom: 80px;
    flex-direction: column;
    justify-content: space-between;
}