<div>
    <h3>Login</h3>
    <form class="form login" [formGroup]="login_form" (ngSubmit)="submitLogin()">
        <label for="user_name">User Name</label><br/>
        <input id="user_name" type="text" formControlName="user_name" placeholder="User Name"><br/>

        <span class="text-danger" 
            *ngIf="login_form.get('user_name')?.errors 
                && login_form.get('user_name')?.dirty 
                && login_form.get('user_name')?.hasError('required')"
        >User name cannot be empty</span><br/>

        <label for="email">Email</label><br/>
        <input type="email" formControlName="email" placeholder="Email"><br/>

        <span class="text-danger" 
            *ngIf="login_form.get('email')?.errors 
                && login_form.get('email')?.dirty 
                && login_form.get('email')?.hasError('required')"
        >Email cannot be empty</span><br/>


        <input class="button" type="submit" [disabled]="!login_form.valid" value="Login"/>
    </form>

    <div *ngIf="response">{{response}}</div>

    <form class="register-redirect" action="/register">
        <div>Not signed up yet? Register Here</div>
        <button class="button" type="submit">Register</button>
     </form>
</div>
