<div>
    <div class="outer-nav">
        <nav class="inner-nav">
            <a class="button" routerLinkActive="active-button" routerLink="/home" (click)="removeBookPageStyle()">Home</a><br/>
            <a class="button" routerLinkActive="active-button" routerLink="/map" (click)="removeBookPageStyle()">Map Game</a><br/>
            <!-- <a class="button" routerLinkActive="active-button" routerLink="/connect-four" (click)="removeBookPageStyle()">Connect 4</a><br/> -->
            <a class="button" routerLinkActive="active-book-button" routerLink="/book-list" (click)="addBookPageStyle()">Fright Club</a><br/>
        </nav>
        <div [ngClass]="show_message ? 'alert' : 'is-hidden'">{{alert}}</div>
        <nav class="inner-nav">
            <a [ngClass]="{
                'is-hidden':username !== 'Guest',
                'button':username == 'Guest',
                'book-list-button':book_page == true
                }" 
            routerLinkActive="active-button" 
            routerLink="/login"
            (click)="removeBookPageStyle()">Login</a><br/>
            <a [ngClass]="{
                'is-hidden':username == 'Guest',
                'button':username !== 'Guest',
                'book-list-button':book_page == true
                }" 
            routerLinkActive="active-button" 
            (click)="submitLogOut()">Log out</a><br/>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <div class="footer" [ngClass]="{'book-list-footer':book_page == true}">
        <p class="catfact" (click)="getCatFact()">{{catfact}}</p>
    </div>
</div>
