<div>
    <div class="outer-nav">
        <nav class="inner-nav">
            <a class="button" routerLinkActive="active-button" routerLink="/home" (click)="removeBookPageStyle()">Home</a><br/>
            <a class="button" routerLinkActive="active-button" routerLink="/map" (click)="removeBookPageStyle()">Map Game</a><br/>
            <a class="button" routerLinkActive="active-button" routerLink="/connect-four" (click)="removeBookPageStyle()">Connect Four</a><br/>
            <a class="button" routerLinkActive="active-button" routerLink="/book-list" (click)="addBookPageStyle()">Book List</a><br/>
        </nav>
        <div [ngClass]="show_message ? 'alert' : 'is-hidden'">{{alert}}</div>
        <nav class="inner-nav">
            <p [ngClass]="(username == 'Guest')?'is-hidden':'logged-in-alert'">Logged in user: {{username}}</p>
            <a [ngClass]="(username == 'Guest')?'button':'is-hidden'" routerLinkActive="active-button" routerLink="/login" (click)="removeBookPageStyle()">Login</a><br/>
            <a [ngClass]="(username == 'Guest')?'is-hidden':'button'" routerLinkActive="active-button" (click)="submitLogOut()" >Log out</a><br/>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <div class="footer">
        <p class="catfact" (click)="getCatFact()">{{catfact}}</p>
    </div>
</div>
