.game-board {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    margin: auto;
    width: 800px;
    height: fit-content;
    background-color: #2E5CD3;
}

.board-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.board-row:hover {
    box-shadow: inset 0 0 10px #3A1AA5;
}

.board-square, .red-square, .yellow-square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 100%;
    margin: 10px;
}

.red-square {
    background-color: #CE3C32;
}

.yellow-square {
    background-color: #EEE414;
}
