/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

:root {
    --seafoam-green: #CDF4DC;
    --indigo: #130170;
    --teal: #01949A;
    --rose-red: #CD0046;
}

body {
    background-color: var(--seaform-green);
    font-family: Arial, sans-serif;
    color: #272626;
    margin: 0;
    height: 100%;
}