/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "King-Bold";
    src: url("assets/fonts/king-font/ITCBenguiatStdBoldCnIt.OTF") format("truetype");
}

@font-face {
    font-family: "King-Medium";
    src: url("assets/fonts/king-font/ITCBenguiatStdMediumCnIt.OTF") format("truetype");
}

@font-face {
    font-family: "Storm-Gust";
    src: url("assets/fonts/Storm-Gust.ttf") format("truetype");
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}  

:root {
    --seafoam-green: #CDF4DC;
    --indigo: #130170;
    --teal: #01949A;
    --rose-red: #CD0046;

    --black: #0c0c0c;
    --dark-gray: #1f1f1f;
    --fire-brick: #a01313;
    --strong-red: #d42626;
    --fanatic-fuchsia: #f0bd0d;
    
}

body {
    background-color: var(--seaform-green);
    font-family: "Roboto";
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, b {
    font-family: "Roboto-Bold";
}