<div class="home-page-header">
        <div class="header-title">
            <div class="title-container">
                <div class="title-one">Justin Smith</div>
                <br/>
                <div class="title-two">Software Engineer</div>
            </div>
        </div>
    <div class="header-image">
        <img class="justin-face" src="../../assets/images/justin_face.jpeg" alt="justin">
    </div>
</div>
<div class="home-page-nav-bar">
    <div class="link">Resume</div>
    <div class="link">LinkedIn</div>
    <div class="link">Contact</div>
</div>

<div class="home-page-body">
    <div class="home-page-graphic">
        <img class="db-model" src="../../assets/images/relational-database-model.png">
    </div>
    <div class="home-page-content">
        <div class="greeting">
            Hello! Wecome to my page!
        </div>
        <p>
            Lyft vexillologist kombucha, readymade gochujang butcher irony tonx tilde gastropub migas lo-fi lumbersexual. Taxidermy mumblecore woke tbh yes plz. Waistcoat jean shorts messenger bag prism kinfolk mixtape live-edge DIY vexillologist skateboard bicycle rights. Tofu live-edge portland marfa messenger bag yr grailed fashion axe green juice synth listicle.
        </p>
    
        <p>
            Deep v gentrify occupy bespoke roof party tofu activated charcoal pop-up pickled. Kickstarter williamsburg celiac taxidermy craft beer four loko single-origin coffee gastropub shoreditch gluten-free bicycle rights blackbird spyplane cray keffiyeh. Mixtape everyday carry glossier, pop-up skateboard tumblr tousled offal keffiyeh. Chia vibecession cray, man bun mukbang drinking vinegar selfies.
        </p>
            
        <p>
            Microdosing paleo fit air plant synth big mood. Gochujang glossier church-key, sus VHS cliche chillwave hoodie letterpress asymmetrical chambray craft beer unicorn chicharrones lumbersexual. Air plant affogato post-ironic blue bottle disrupt neutra drinking vinegar. Brunch next level aesthetic, quinoa vinyl jean shorts umami dreamcatcher yr blog sriracha normcore.
        </p>
    </div>

</div>



