<div class="home-page-header">
        <div class="header-title">
            <div class="title-container">
                <div class="title-one">Justin Smith</div>
                <br/>
                <div class="title-two">Software Engineer</div>
            </div>
        </div>
    <div class="header-image">
        <img class="justin-face" src="../../assets/images/justin_face.jpeg" alt="justin">
    </div>
</div>
<div class="lower-nav-bar">
    <a class="link" href="https://drive.google.com/file/d/0B3bAVul6Bb1JUkZ2YXFPWFFOYzJ1emJiOU85RlIwX0duZ2hv/view?usp=sharing" target="_blank">Resume</a>
    <a class="link" href="https://www.linkedin.com/in/just1nsm1th/" target="_blank">Linkedin</a>
    <a class="link" href="https://github.com/jpsmith78" target="_blank">GitHub</a>
    <a class="link" href="mailto:justinpetersmith@gmail.com">Contact</a>
</div>

<div class="home-page-body">
    <div class="home-page-graphic">
        <img class="db-model" src="../../assets/images/relational-database-model.png">
    </div>
    <div class="home-page-content">
        <div class="greeting">
            Hello! Welcome to my page!
        </div>
        <p>
            I am a back-end developer based out of Worcester, MA with five years of experience working with complex data sets using the LAMP stack. One of my favorite things to do is boil a difficult problem down to its essence and then find a straightforward solution for it. Those Aha! moments make me love being a developer. Before entering the field of software development, I was a retail manager for several years. Because of this unique experience, I place a very high value on building relationships with the rest of my team and contributing to a fun work environment.
    
        <p>
            Please take a look around and play a game or learn a bit about cats. If you would like to learn more about me, or if you have any questions, please don't hesitate to contact me. Thanks again for visiting! 
        </p>
        
    </div>

</div>



